.titleImage {
  user-select: none;

  @media (max-width: 768px) {
    width: auto;
    max-height: 25vw;
  }
}

$area_height: 26rem;
$max_width: 1440px;

.main {
  width: min(100%, $max_width);
  display: flex;
  gap: 1%;

  textarea,
  div {
    padding: 1.5rem 1rem;
    width: 50%;
    height: $area_height;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #101010;
    background-color: #e9e9e9;
    font-size: 24px;
    font-weight: bold;
    border: 5px solid #e9e9e9;
    border-radius: 0.35rem;
    box-shadow: 6px 10px 25px -12px #000000;

    &:focus {
      border: 5px solid #23caa3;
    }

    &::-webkit-scrollbar {
      width: 0.5vw;
      height: 0.5vw;
    }

    &::-webkit-scrollbar-track {
      background-color: #e9e9e9;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #939393;

      &:hover {
        background-color: #c1c1c1;
      }
    }
  }

  $padding: 2.2rem;

  textarea {
    padding-right: $padding;
    text-align: center;
    line-height: 2rem;
  }

  div {
    padding-left: $padding;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.15rem;
    filter: brightness(0.9);

    .placeholder {
      font-size: 95%;
      opacity: 70%;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    textarea,
    div {
      width: 100%;
      height: 18rem;
      font-size: 155%;
    }

    textarea {
      padding: 1.5rem 0 2.25rem;
    }

    div {
      padding: 2.8rem 0 0.8rem;
    }
  }
}

.magicButton {
  z-index: 1;
  margin: -3rem;
  position: relative;
  top: calc($area_height / 2);

  $size: 5.5rem;
  height: $size;
  width: $size;

  font-size: 115%;
  font-weight: 500;
  color: #000000;
  background-color: #8fd2ff;
  box-shadow: 0 10px 25px -14px #000000, 0 0 5px -2px #000000;

  @media (min-width: 769px) {
    &:hover {
      background-color: #99c9fa;
    }

    &:active {
      background-color: #93b7f5;
      transform: translateY(3px);
      box-shadow: 0 5px 15px -10px #000000;
    }
  }

  @media (max-width: 768px) {
    margin: -2.6rem;
    top: 0;

    width: 7rem;
    height: 4rem;
    font-size: 125%;
    border-radius: 25%;
  }
}

.historyHandler {
  margin-bottom: 2rem;
  width: min(65%, calc($max_width * 0.75));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;

  @media (max-width: 768px) {
    margin: 0.5rem 0 2.5rem;
    width: 95%;
  }

  h2 {
    margin: 1rem;
    text-align: center;
    font-size: 150%;
    font-weight: 550;
    text-shadow: 4px 3px 12px #000000;
  }
}

.history {
  padding: 8px;
  width: 100%;
  min-height: 16rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;

  border-radius: 0.6rem;
  background-color: rgba(#e9e9e9, 0.33);
  box-shadow: 6px 10px 25px -12px #000000;
  text-shadow: 4px 3px 45px #000000;

  @media (max-width: 768px) {
    min-height: 20rem;
  }

  p {
    margin-top: 1rem;
    font-size: 95%;
  }
}

.historyLog {
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  gap: 5px;

  font-size: 105%;
  color: #101010;
  background-color: rgba(#e9e9e9, 0.5);
  transition: 0.1s background-color ease-out;
  border-radius: 0.35rem;
  text-shadow: none;
  cursor: pointer;

  @media (min-width: 769px) {
    &:hover {
      background-color: rgba(#e9e9e9, 0.65);

      img {
        opacity: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    background-color: rgba(#e9e9e9, 0.65);
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  p {
    margin: 0;
    font-size: 95%;
    pointer-events: none;
  }

  .inputValue {
    max-width: 85%;
    font-size: 106%;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .timeDate {
    font-size: 85%;
  }

  .outputValue {
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.scrollTopHandler {
  position: sticky;
  bottom: min(5rem, 5%);
  width: 100%;

  @media (max-width: 768px) {
    height: 3rem;
  }
}

.scrollTopButton {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;

  padding: 0.5rem;
  background-color: #4be1da;
  box-shadow: 0 6px 20px -8px #000000;
  user-select: none;

  @media (min-width: 769px) {
    &:hover {
      background-color: #69eedc;
    }
  }

  @media (max-width: 768px) {
    bottom: 0.5rem;
    scale: 0.85;
  }

  img {
    padding: 2px;
    max-inline-size: unset;
    max-block-size: unset;
  }
}
