.algorithm {
  display: none;
}

.title {
  height: 10rem;
  width: auto;
  user-select: none;
}

$area_height: 26rem;
$max_width: 1440px;

.main {
  width: 100%;
  max-width: $max_width;
  display: flex;
  gap: 1%;

  textarea,
  div.output {
    padding: 1rem;
    height: $area_height;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #101010;
    background-color: #e9e9e9;
    font-family: "Charis SIL Bold";
    font-size: 125%;
    border: 5px solid #e9e9e9;
    border-radius: 0.35rem;
    box-shadow: 6px 10px 25px -12px #000000;

    &:focus {
      border: 5px solid #23caa3;
    }

    &::-webkit-scrollbar {
      width: 0.5vw;
      height: 0.5vw;
    }

    &::-webkit-scrollbar-track {
      background-color: #e9e9e9;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #939393;
      &:hover {
        background-color: #c1c1c1;
      }
    }
  }

  $padding: 2.2rem;

  textarea {
    padding-right: $padding;
  }

  div.output {
    padding-left: $padding;
    overflow-y: auto;

    p {
      font-size: 95%;
      opacity: 0.5;
    }
  }
}

.magicButton {
  margin: -3rem;
  position: relative;
  top: calc($area_height / 2);

  $size: 5.5rem;
  height: $size;
  width: $size;

  box-shadow: 0 10px 25px -14px #000000, 0 0 5px -2px #000000;
  font-size: 135%;
  cursor: pointer;

  &:active {
    transform: translateY(3px);
    box-shadow: 0 5px 15px -10px #000000;
  }
}

.historyHandler {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;

  width: 65%;
  max-width: calc($max_width * 0.75);

  h2 {
    margin: 1rem;
    font-size: 160%;
    text-shadow: 4px 3px 12px #000000;
  }
}

.history {
  padding: 8px;
  min-height: 16rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;

  background-color: rgba(#e9e9e9, 0.33);
  border-radius: 0.6rem;
  box-shadow: 6px 10px 25px -12px #000000;
  text-shadow: 4px 3px 45px #000000;

  p {
    margin-top: 1rem;
    font-size: 95%;
  }
}

.historyPosition {
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  gap: 5px;

  font-family: "Charis SIL Bold";
  font-size: 105%;
  color: #101010;
  background-color: rgba(#e9e9e9, 0.5);
  transition: 0.1s background-color ease-out;
  border-radius: 0.35rem;
  text-shadow: none;
  cursor: pointer;

  @media (min-width: 800px) {
    &:hover {
      background-color: rgba(#e9e9e9, 0.65);

      img {
        opacity: 1;
      }
    }
  }

  p {
    margin: 0;
    font-size: 95%;
    pointer-events: none;
  }

  .firstText {
    font-size: 106%;
    font-weight: 600;
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .resultText {
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .timeDate {
    margin: -4px -5px;
    height: 0;
    position: relative;
    top: 0;
    right: 0;

    font-family: "Brutal Type Medium", "Gill Sans MT";
    font-size: 85%;
    text-align: right;
  }
}

.scrollButton {
  // hidden by default
  visibility: hidden;
  opacity: 0;

  z-index: 1;
  height: 4rem;
  width: 4rem;
  position: fixed;
  bottom: -2rem;
  right: 1.5rem;
  font-size: 18px;
  background-color: #4be1da;
  box-shadow: 0 6px 20px -8px #000000;
  user-select: none;

  img {
    padding: 2px;
    max-inline-size: unset;
    max-block-size: unset;
  }

  @media (min-width: 800px) {
    &:hover {
      background-color: #69eedc;
    }
  }
}

// on mobile
@media (max-width: 800px) {
  .title {
    height: auto;
    max-height: 8rem;
    width: 100%;
  }

  .main {
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    textarea,
    div.output {
      height: 18rem;
      width: 100%;
      font-size: 155%;
    }

    textarea {
      padding: 0.8rem 0 2.25rem;
    }

    div.output {
      padding: 2.25rem 0 0.8rem;
    }
  }

  .magicButton {
    margin: -2.6rem;
    height: 4rem;
    width: 7rem;

    top: 0;
    border-radius: 25%;
    font-size: 155%;
  }

  .historyHandler {
    margin: 0.5rem 0 2.5rem;
    width: 95%;
  }

  .history {
    min-height: 20rem;
  }

  .historyPosition {
    background-color: rgba(#e9e9e9, 0.65);
  }

  .scrollButton {
    scale: 0.85;
    right: 1rem;
  }
}
